# Database Configuration (Sesuai Poin A.22-23)
DB_NAME=parfum
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_DIALECT=mysql

# JWT Authentication (Sesuai Poin B.29-31)
JWT_SECRET=rahasia_kamu_di_sini
JWT_EXPIRES_IN=1d

# Xendit Payment Gateway (Sesuai Poin E.42-44)
XENDIT_SECRET_KEY=xnd_development_...
XENDIT_WEBHOOK_TOKEN=token_webhook_kamu

# Server Port
PORT=5000